{% extends "base.html" %}
{% block title %}Latest Wits{% endblock %}
{% block content%}
{%for i in range(blogLength)%}
  {% if author[i].id!=user.id %}
  <figure>
    <div class="card-body" style="background-color:lightblue;">
      <p>{{blogs[i].data}}</p>
    <div align="right">
        <cite align="right" ><a href="/profile/@/{{author[i].id}}" style="text-decoration: none">{{author[i].firstName + " " +author[i].lastName}}</a></cite>
        <p>{{dates[i][1]}}</p>
        <p>{{dates[i][0]}}</p>
    </div>
      </div>
  </figure>
{% else %}
<figure>
  <div class="card-body" style="background-color:lightblue;">
    <p>{{blogs[i].data}}</p>
  <div align="right">
    <a href="/delete/{{user.id}}" style="text-decoration: none">Delete Wit</a><br/>
      <cite align="right" ><a href="/profile/@/{{author[i].id}}" style="text-decoration: none">{{author[i].firstName + " " +author[i].lastName}}</a></cite>
      <p>{{dates[i][1]}}</p>
      <p>{{dates[i][0]}}</p>
  </div>
    </div>
</figure>
{% endif %}
{% endfor %}
{%endblock%}