{% extends "base.html"%}
{% block title %}{{user.firstName+ " "+user.lastName}}'s Wits{% endblock %}

{% block content %}
<h1 align="center">Your Wits</h1>
<div class="card-body" style="background-color:cornflowerblue;">
    <h1>Wit Count:{{length}}</h1>
</div>
<br/>
<ul class="list-group list-group-flush">
{% for i in range(length)%}
<figure>
    <div class="card-body" style="background-color:lightblue;">
      <p>{{myblogs[i].data}}</p>
    <div align="right">
        <a href="/delete/{{user.id}}" style="text-decoration: none" >Delete Wit</a>
        <br/>
        <cite align="right">{{user.firstName + " "+ user.lastName}}</cite>
        <p>{{dates[i][1]}}</p>
        <p>{{dates[i][0]}}</p>
    </div>
      </div>
  </figure>
{% endfor %}
</ul>
<form method="POST">
    <textarea name="blog" id="blog" class="form-control" placeholder="Write new wit here"></textarea><br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Wit</button>
    </div>

</form>
{% endblock %}